body {
  background: #fff;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding-top: 7em;
  padding-bottom: 5em;
}

body > p {
  padding-left: 1em;
  padding-right: 1em;
}

a {
  color: #000;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 4em 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-around;
}

li {
  border-radius: 6px;
  padding: 1em;
  margin: 2em;
  flex: 0 0 17.3vw;
  height: 17.3vw;
  display: block;
  background: #fff;
  transition: all 300ms;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

li:not(.copied):hover {
  cursor: pointer;
  /* box-shadow: none !important; */
}

li:not(.copied):hover :not(.credits) {
  text-decoration: underline;
}

li.copied {
  cursor: pointer;
}

li .credits {
  font-size: 0.7em;
  opacity: 0.85;
  display: block;
  padding-top: 1em;
}

header.active a.producthunt {
  display: none;
}

a.a-button {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  line-height: 32px;
  padding: 0 8px;
  text-decoration: none;
  user-select: none;
  border-radius: 6px;
  transition: all 150ms;
  margin-left: 5px;
  margin-right: 5px;
}

a.a-button:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px,
    rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a.a-button .logo-img {
  margin-left: 2px;
  margin-right: 3px;
  width: 20px;
  height: auto;
  vertical-align: sub;
}

a.get-cssscan {
  text-decoration: none;
  background-color: #2cbc63;
  border-radius: 6px;
  display: inline-block !important;
  padding: 9px 22px;
  text-align: center;
  transition: all 200ms;
}

a.get-cssscan span {
  display: none;
}

a.get-cssscan svg {
  vertical-align: sub;
}

a.get-cssscan:hover {
  background-color: #30d46f;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #1a9047 0px 0px 0px 2px;
}

@media all and (min-width: 375px) {
  li {
    flex: 0 0 22vw;
    height: 22vw;
  }

  a.get-cssscan span {
    display: inline;
  }
}

@media all and (min-width: 768px) {
  ul {
    padding: 4em 0;
  }

  li {
    margin: 2.7em;
    padding: 1em;
    flex: 0 0 110px;
    height: 110px;
  }

  header.active a.producthunt {
    display: initial;
  }

  header.active a.producthunt img {
    display: block;
  }
}

@media all and (min-width: 1024px) {
  li {
    margin: 3.5em;
    flex: 0 0 150px;
    height: 150px;
  }
}

h1,
h2,
h3,
.cssscan .title,
.logo {
  font-family: CerebriSans-Bold, -apple-system, system-ui, Roboto, sans-serif;
  font-weight: normal;
}

.cssscan-a {
  text-decoration: none;
  padding: 0 9%;
  display: block;
}

.cssscan {
  margin: auto;
}

.cssscan {
  padding: 2.5rem;
  background: #c2fbd7;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  cursor: pointer;
  margin-top: 3em;
  font-size: 19px;
  text-align: left;
}

.cssscan p.title {
  font-size: 28px;
  margin-bottom: 0;
  margin-top: 0;
}

.cssscan img {
  position: absolute;
  top: 14%;
  right: -37%;
  width: 95%;
  height: 95%;
  transform: rotate(-7deg);
  transition: all 0.3s;
}

.cssscan:hover img {
  top: 10%;
  right: -35%;
  transform: scale(1.1) rotate(-7deg);
}

.cssscan:hover p.learn-more {
  text-decoration: underline;
}

.cssscan p.title {
  margin-bottom: 0;
}

.cssscan p.desc {
  opacity: 0.8;
  color: #333;
  margin-top: 10px;
  margin-bottom: 1.3em;
}

p.learn-more {
  margin: 0;
}

.buttons {
  background: #f8f8f8;
  color: #333;
}

.cssscan-pro {
  background: rgba(30, 32, 44, 0.95);
  color: #fff;
}

.cssscan-pro * {
  color: #fff !important;
}

.cssscan-pro img {
  top: 5%;
}

.cssscan-pro:hover img {
  top: 5%;
}

.gradient-text {
  background-image: linear-gradient(rgba(42, 245, 152, 1), rgba(0, 158, 253, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250%;
  transition: 500ms background-position;
}

@media screen and (min-width: 0px) and (max-width: 1010px) {
  .cssscan-a {
    padding: 0;
  }

  .cssscan {
    margin-top: 2em;
    min-height: 300px;
    border-radius: 0;
  }

  .cssscan img {
    top: initial;
    bottom: -14%;
    right: -5%;
    width: 45%;
    height: 45%;
  }

  .cssscan:hover img {
    top: initial;
    bottom: -10%;
    right: -5%;
    transform: scale(1.1) rotate(-7deg);
  }

  .cssscan-pro img,
  .cssscan-pro:hover img {
    bottom: -4%;
  }
}

header {
  display: flex;
  position: fixed;
  top: 50px;
  left: 0;
  padding: 0 9%;
  align-items: center;
  box-sizing: border-box;
}

header.active {
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transition: all 250ms;
  z-index: 9;
  padding: 0 6%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

header.active .logo-wrapper img {
  width: 30px;
  height: 30px;
}

header.active a {
  display: initial;
}

header.active .button {
  display: inline-flex;
  height: 40px;
  font-size: 14px;
  padding: 0 25px;
  margin-right: 10px;
}

header.active a:last-child .button {
  margin-right: 0;
}

header a {
  display: none;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  font-family: CerebriSans-SemiBold, -apple-system, system-ui, Roboto, sans-serif;
}

.logo-wrapper img {
  width: 60px;
  height: 60px;
  margin-right: 1em;
}

header .buttons-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

a.no-underline {
  text-decoration: none;
}

.cssscan-pro,
.buttons,
.toastlog {
  margin-top: 2em;
}

.toastlog {
  background: #fdd231;
}

.shortcut {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 4px;
}

a.green-btn-style {
  background: #c2fbd7;
  color: green;
  transition: 200ms;
  padding: 0px 5px;
  border-radius: 4px;
  display: inline-block;
}

a.green-btn-style:hover {
  background: #afe6c3;
  transform: scale(1.05);
}
