body {
    font-family: Roboto, sans-serif;
}
input {
    height: 65px;
    width: 275px;
    text-align: center;
    text-indent: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ecf2f7;
}
button {
    font-size: 22px;
    color: white;
    width: 275px;
    height: 50px;
    left: 863px;
    top: 882px;
    background: #4caf50;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.actions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    margin-top: 20px;
}
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    margin-top: 20px;
}
.wheel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}
.wheel img {
    height: 100%;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1080deg);
    }
}
.ball-container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100px;
    justify-content: center;
    padding-top: 33px;
    animation-delay: 1s;
    animation: rotate 3s linear infinite forwards;
}
.ball {
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    background-color: #dadada;
    border-radius: 100%;
    box-shadow: 7px 7px 10px #181818;
}

.ball-highlight {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50px;
    background-color: #ffffff;
    filter: blur(2px);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.number-title {
    padding-top: 10px;
    font-size: 42px;
    font-weight: bold;
}
#lucky-number {
    font-weight: bold;
    font-size: 32px;
    position: absolute;
}
