body{
    margin:0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    font-size: 20px;
}
header{
    background-color: #0a0a0a;
    color: white;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items:center;
}

.root{
    font-size: 10px;
}
.header{
    background-color: #9d2424;
    color: white;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items:center;
}