.container > * {
    margin-top: 10px;
}

.small-box {
    background-color: green;
    width: 100px;
    height: 100px;
}

.medium-box {
    background-color: orange;
    width: 200px;
    height: 200px;
}

.large-box {
    background-color: tomato;
    width: 300px;
    height: 300px;
}

.parent {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
}

.child {
    height: 90px;
    width: 900px;
    background-color: gray;
}

.parent2 {
    height: 200px;
    width: 200px;
    background-color: #ff80b3;
}

.child2 {
    height: 90px;
    width: 100%;
    background-color: gray;
}
