
/* First thing first we load css that fits to mobile device! */
body {
    background: #9b9b9b;
    margin: 0;
    color: #171717;
    font-family: Roboto, sans-serif;
}

section {
    display: flex;
    height: calc(100vh - 4em);
    flex-direction: column;
}
section * {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 9;
    box-shadow: -6px 2px 10px rgba(0, 0, 0, 0.28);
    margin: 5px;
}

aside {
    flex: 1;
    margin: 5px;
    box-shadow: -6px 2px 10px rgba(0, 0, 0, 0.28);
}
nav {
    display: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dcdcdc;
    height: 4em;
}
aside {
    min-width: 200px;
}
header:first-child {
    padding-left: 1em;
}
.menu-icon {
    padding-right: 1em;
}
.menu-icon div {
    width: 25px;
    height: 2px;
    background-color: #383838;
    margin: 4px 4px;
}


/* Taking care of Desktop users */
@media (min-width: 600px) {
    body {
        background: #2c2c2c;
        color: white;
    }
    header {
        background-color: #1f1f1f;
    }
    section {
        display: flex;
        flex-direction: row;
        height: calc(100vh - 3em);
    }
    .menu-icon {
        display: none;
    }
    nav {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
    }
    aside {
        min-width: 200px;
    }
}